__pycache__/
*.pyc
.DS_Store
test.log
# Large reference DBs (created by fetch_dbs.py)
microseq_dbs/ 
!.keep
# please do not put an __init__.py in repo root =) 
/__init__.py 

 
# keep references DBs out of Git 
.microseq_dbs/

# keeping logs from building up 
logs/*.log 
config/config.yaml
# runtime artefacts
logs/
tmp_smoke/
*.log
logs/
