default_workdir: ~/microseq_runs
logging:
  dir:  ${MICROSEQ_LOG_DIR} 
  backup_count: 0
  session_env: MICROSEQ_SESSION_ID
tools:
  trimmomatic: trimmomatic
  blastn: blastn
  cap3: cap3
  vsearch: vsearch 
databases:
  gg2:
    blastdb: ${MICROSEQ_DB_HOME}/gg2/greengenes2_db
    taxonomy: ${MICROSEQ_DB_HOME}/gg2/taxonomy.tsv
    chimera_ref: ${MICROSEQ_DB_HOME}/gg2/dna-sequences.fasta
  silva:
    blastdb: ${MICROSEQ_DB_HOME}/silva/silva_db
    taxonomy: ${MICROSEQ_DB_HOME}/silva/taxonomy.tsv
    chimera_ref: ${MICROSEQ_DB_HOME}/silva/SILVA_138.1_SSURef_NR99_tax_silva_trunc.fasta
  ncbi:
    blastdb: ${MICROSEQ_DB_HOME}/ncbi/16S_ribosomal_RNA
    taxonomy: ${MICROSEQ_DB_HOME}/ncbi/taxonomy.tsv
metadata:
  sample_id_normaliser: strip_suffix_legacy
